/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* table เต็มหน้าจอ */
table {
  width: 100vw;
  height: 100vh;
  border-collapse: collapse;
  table-layout: fixed;
}

/* cell */
td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-size: 2vw;
}

/* สี */
.blue {
  background-color: rgb(144, 203, 238);
}

.pink {
  background-color: rgb(255, 162, 213);
}
